doctype html
html(lang="en")
    head
        title Web YouTube Downloader
        meta(name="description" content="Download YouTube videos from source!")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="monetag" content="e8a0c51b6785431c3593401efa9c178a")
        link(rel="stylesheet" href="style.css")
        link(rel="icon" type="image/png" href="/logo.png")
    body
        div.responsive
            include partials/titlebox
            block content