extends _layout

block content
    div.center
        h1 Download YouTube videos from source!
        h2 All Video and Audio Tracks + Thumbnails

        form
            input(type="url" placeholder="Paste a YouTube video url" name="url")
            button Fetch
        script(async="async" data-cfasync="false" src="//pl20486363.highcpmrevenuegate.com/40b18406aa9f553c6ffc69731600f624/invoke.js")
        div#container-40b18406aa9f553c6ffc69731600f624
        script(src="https://alwingulla.com/88/tag.min.js" data-zone="8280" async data-cfasync="false")